sudo: false
dist: trusty
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
  - "pypy-5.3.1"
  - "pypy-5.4.1"
  - "pypy-5.6.0"
  - "pypy-5.7.1"
  - "pypy2.7-5.8.0"
  - "pypy3.5-5.8.0"
matrix:
  include:
  - python: 3.7
    dist: xenial
    sudo: true
before_install:
  - pip install --upgrade pip setuptools
install:
  - pip install -r requirements.txt
  - pip install coveralls
script: coverage run --source=paypal setup.py test
after_success: coveralls
deploy:
  provider: pypi
  user: joamag
  password:
    secure: DNvJkN5GXIMAng5TMulgFX96+HKcBzYUkDQXm3IcsRXmYA3vzuWc5eOgY4UvoB7KUomam3Azvr7/z6t7hRCH6xjUHXlweKPrmDBsWL4PDkhu9XwKW5aQeFvc5kg2ARrAZyXqgkzRNxoNfVm8cTL0KFHEQfKjYGbzdmlBfFZaX5R29MMDpMiLYedl4FG4qeIONR/BwOi5dT0mzg0JPz+5CaP1ggnxBKsb8QoDdDiH6y3poz1nC5YrrcYu3ypoHfStuX39aUb0dkmRl0KKFXrHOXKiZZ0vDiw4EBZaxpeKDkm4V1l7kW3va8EKuJvjP+Bg/QtxWBFljEBimMFZm+jmaEtme8KDyBZMOIr+5lv9IJdTo+WREUC8MGhCYRrbUxCLo4Bp6jQrMQN0anru+P2BJB2Kk5LxUIwEgy4KvomaWHU5pmkCIIMcis4xvFy5gzuxtoAWrgMODSxpRgf3U7MgsQU1AiZS/gS3KZM0nmh1iZCILJezLNi0z8ksjf87YUVYo1nUm359MYg7o3B9E5vzg5qsCvWRc7TPo1rw/aZG/7ZvqUfN/jL8Ja9EXRgCChfqtymPUYkSlFGqYbhhjYh/qu0eNGj9RkX2QCnHmQm7QBdYCKAile2mydqc2NODmB1srL64/a/9+wLFI5sqeFxZLqzoS+E1GSUL4csLBtA2VD0=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: "2.7"
